@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Syne:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;700;800;900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body,
html {
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.top {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;
    height: 75px;
    background-color: #1A1A1A;
}

.top-left {
    display: flex;
    align-items: center;
    font-size: 1vw;
    font-weight: 200;
    padding: 1.2rem 9rem;
    gap: 10px;
    opacity: 0.4;


    & a {
        text-decoration: none;
    }
}

.top-right {
    display: flex;
    padding-right: 9rem;
    gap: 20px;
    opacity: 0.4;
}

.top-right .elem1 {
    display: flex;
    gap: 50px;
    & a {
        text-decoration: none;
    }
}

.top-right .elem2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.h-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    margin-left: 7vw;
    & h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 2vw;
        font-weight: 200;
    }

    & a {
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.hcontent-right{
    display: flex;
    gap: 20px;
}

.line {
    border: 1px solid white;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

.menu ul {
    display: inline-flex;
    padding-top: 10px;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2vw;
    font-weight: 900;
    text-transform: uppercase;
}

.menu ul li a{
    text-decoration: none;
    margin-left: 9.4vw;

    &:hover{
        border-bottom: 2px solid #fff;
    }
}

.menu ul :nth-child(3){
    font-weight: 200;
}

.menu ul :nth-child(3) ul{
    display: block;
    font-weight: 200;
}

.hcontent-right {
    display: flex;
    align-items: baseline;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    margin-right: 7vw;
}

.hero{
    position: relative;
}

.hero 

.heading{
    font-family: 'Syne';
    font-weight: 800;
    font-size: 4vw;
    line-height: 1.2;
    font-stretch: expanded;

    & h1{
        margin-left: 10vw;
    }
}

.text p{
    margin-left: 22vw;
}

.text h1{
    padding-left: 7vw;
}

.o-container{
    position: fixed;
    background-color: #F07E15;
    text-transform: uppercase;
    font-family: 'Work Sans';
    height: 20vw;
    width: 59.33vw;
    left: 40%;
    bottom: 10vh;

    & .content{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        right: 1.5vw;
        top: 30vh; 
    }

    & img:nth-child(1) {
        left: 50%;
        bottom: 40%;
        position: absolute;
    }
}

#boy{
    position: relative;
    height: 654px;
    left: 38%;
    bottom: 71%;
}

.line2{
    border: 1px solid #fff;
    width: 60%;  
}
